body{margin: 0;padding: 0;background: #D06B6B;font-family: sans-serif;}
.container>.container-fluid>.row>h1{font-size: 30px;font-weight: 800;text-align: center;text-transform: capitalize;padding: 30px 0px;}
.container-fluid .jumbotron{width: 400px;padding:0px;background: #444;margin: auto;}
 .jumbotron>div>div>div:first-of-type>h2{color: white;text-align: center;text-transform: capitalize;font-size: 26px;font-weight: 800;padding: 7px 0px;}
.jumbotron>div>div>div:nth-of-type(2){background: white;padding: 20px;}
#password{padding-top:25px;}
#email>label{},#password>label{}{}
#password>input,#email>input{background-color: #E2E2E2; outline: none;border: 1px none #444;outline: none;width: 360px;height: 40px;border-radius: 5px;}
.jumbotron>div>div>div:last-of-type>form>input,.jumbotron>div>div>div:last-of-type>a{float: right;margin-top:10px;}
.jumbotron>div>div>div:last-of-type>form>input{border-style: none;color: black;border-radius: 5px;height: 40px;width: 170px;font-size: 15px;font-weight: 800;outline: none;}
.jumbotron>div>div>div:last-of-type>form>input:hover{background: gold;}
.jumbotron>div>div>div:last-of-type>form>input[value="Send Email"]:hover{color: gray;}
.jumbotron>div>div>div:last-of-type>a{list-style: none;color: gold;text-decoration: none;}
.jumbotron>div>div>div:last-of-type>a:last-of-type{margin-bottom: 10px;}
.jumbotron>div>div>div:last-of-type>a:hover{color: white;}